{% extends 'gestion/pages/base.html' %}

{% block title %}Liste des Comptes{% endblock %}

{% block content %}


            <div class="page-content-wrapper ">

                    <div class="box-footer">
                        <a href="{% url 'gestion:compte_create' %}" class="btn btn-primary">Ajouter un Compte</a>
                    </div><br>


                        <div class="row">

                                <div class="col-12">
                                    <div class="card m-b-20">
                                        <div class="card-body">
                                            <h4 class="mt-0 m-b-15 header-title"> <span class="badge badge-primary"></span>Liste des Comptes </h4>
                                            <div class="table-responsive">
                                                <table class="table table-hover m-b-0">
                                                    <thead>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Nature</th>
                                                        <th>Cpte Général</th>
                                                        <th>Intitulé</th>
                                                        <th>Statut</th>
                                                        <th>Montant Cartoné</th>
                                                        <th>Cpte Intérêts</th>
                                                        <th>Actions</th>
                                                    </tr>

                                                    </thead>
                                                    <tbody>
                                                    {% for compte in compte_list %}
                                                      <tr>
                                                        <td>
                                                          <a href="{% url 'gestion:compte_update' compte.id %}">
                                                           {{ compte.id }} 
                                                          </a>
                                                        </td>
                                                        <td>{{ compte.typecompte }}</td>
                                                        <td>{{ compte.numero }}</td>
                                                        <td>{{ compte.intitule }}</td>
                                                        <td>{{ compte.statut }}</td>
                                                        <td>{{ compte.montancartone }}</td>
                                                        <td>{{ compte.numcpte }}</td>
                                                        <td>
                                                          <div class="btn-group" role="group" aria-label="...">
                                                            <a href="{% url 'gestion:compte_update' compte.id %}" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                                                            <a href="{% url 'gestion:compte_delete' compte.id %}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                                          </div>
                                                        </td>
                                                      </tr>
                                                   {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- end row -->


                    </div> <!-- Page content Wrapper --> 










{% endblock %}


{% block title_footer %}Liste des Comptes{% endblock %}