{% extends 'gestion/pages/base.html' %}

{% block title %}Acceuil{% endblock %}

{% block content %}

                    <div class="page-content-wrapper ">

                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mini-stat clearfix badge-success">
                                        <span class="mini-stat-icon"><i class="mdi mdi-cash-multiple"></i></span>
                                        <div class="mini-stat-info text-right text-white">
                                            <span class="counter">154</span>
                                            Clients
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mini-stat clearfix badge-primary">
                                        <span class="mini-stat-icon"><i class="mdi mdi-currency-usd"></i></span>
                                        <div class="mini-stat-info text-right text-white">
                                            <span class="counter">56</span>
                                            Entreprises
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mini-stat clearfix badge-success">
                                        <span class="mini-stat-icon"><i class="mdi mdi-cards"></i></span>
                                        <div class="mini-stat-info text-right text-white">
                                            <span class="counter">521</span>
                                            Comptes
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mini-stat clearfix badge-primary">
                                        <span class="mini-stat-icon"><i class="mdi mdi-eye-off"></i></span>
                                        <div class="mini-stat-info text-right text-white">
                                            <span class="counter">205</span>
                                            Dépôts
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mini-stat clearfix badge-primary">
                                        <span class="mini-stat-icon"><i class="mdi mdi-eye-off"></i></span>
                                        <div class="mini-stat-info text-right text-white">
                                            <span class="counter">305</span>
                                            Retraits
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mini-stat clearfix badge-success">
                                        <span class="mini-stat-icon"><i class="mdi mdi-cards"></i></span>
                                        <div class="mini-stat-info text-right text-white">
                                            <span class="counter">759</span>
                                            Prêts
                                        </div>
                                    </div>
                                </div>
                            </div>

                            

                        </div><!-- container-fluid -->

                        <div class="row">

                                <div class="col-12">
                                    <div class="card m-b-20">
                                        <div class="card-body">
                                            <h4 class="mt-0 m-b-15 header-title"> <span class="badge badge-primary">4</span> Clients Récents</h4>
                                            <div class="table-responsive">
                                                <table class="table table-hover m-b-0">
                                                    <thead>
                                                    <tr>
                                                        <th>Noms</th>
                                                        <th>Prénoms</th>
                                                        <th>Adresse</th>
                                                        <th>Téléphone</th>
                                                        <th>Gestionnaire</th>
                                                        <th>Date Création</th>
                                                        <th>Détails</th>
                                                    </tr>

                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>KANA</td>
                                                        <td>Fabien</td>
                                                        <td>Lalala à Droite</td>
                                                        <td>04 83 56 31</td>
                                                        <td>Mr SIMO</td>
                                                        <td>2019/11/25</td>
                                                        <td><i class="mdi mdi-eye-off"></i></td>
                                                    </tr>

                                                    <tr>
                                                        <td>TSUALA</td>
                                                        <td>Flaurient</td>
                                                        <td>Lalala à Droite</td>
                                                        <td>04 83 56 31</td>
                                                        <td>Mr NDONG</td>
                                                        <td>2019/11/25</td>
                                                        <td><i class="mdi mdi-eye-off"></i></td>
                                                    </tr>

                                                    <tr>
                                                        <td>BENAJIGAR</td>
                                                        <td>Simon</td>
                                                        <td>Lalala à Gauche</td>
                                                        <td>04 83 56 31</td>
                                                        <td>Mr MONTHE</td>
                                                        <td>2019/11/25</td>
                                                        <td><i class="mdi mdi-eye-off"></i></td>
                                                    </tr>

                                                    <tr>
                                                        <td>KOMENEK</td>
                                                        <td>Pierre</td>
                                                        <td>Lalala à Gauche</td>
                                                        <td>04 83 56 31</td>
                                                        <td>Mr KONFE</td>
                                                        <td>2019/11/25</td>
                                                        <td><i class="mdi mdi-eye-off"></i></td>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- end row -->


                    </div> <!-- Page content Wrapper --> 










{% endblock %}


{% block title_footer %}Acceuil{% endblock %}