                    <div class="page-content-wrapper ">

                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mini-stat clearfix badge-success">
                                        <span class="mini-stat-icon"><i class="mdi mdi-cash-multiple"></i></span>
                                        <div class="mini-stat-info text-right text-white">
                                            <span class="counter">15 850 Frs CFA</span>
                                            Mon Compte Principal
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mini-stat clearfix badge-primary">
                                        <span class="mini-stat-icon"><i class="mdi mdi-currency-usd"></i></span>
                                        <div class="mini-stat-info text-right text-white">
                                            <span class="counter">5 300 Frs CFA</span>
                                            Mon Compte CASHBACK
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mini-stat clearfix badge-success">
                                        <span class="mini-stat-icon"><i class="mdi mdi-cards"></i></span>
                                        <div class="mini-stat-info text-right text-white">
                                            <span class="counter">521 Points</span>
                                            Mes Points de Fidélité
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mini-stat clearfix badge-primary">
                                        <span class="mini-stat-icon"><i class="mdi mdi-eye-off"></i></span>
                                        <div class="mini-stat-info text-right text-white">
                                            <span class="counter">205 Paiements</span>
                                            Mon Historique
                                        </div>
                                    </div>
                                </div>
                            </div>

                            

                        </div><!-- container-fluid -->


                    </div> <!-- Page content Wrapper -->